@charset "utf-8";

.detail{
   
    background-image: url("image/poduct\ bg.png");
} 
font{
    color:blue;
}
.text h2{
    font-family:Roboto;
	font-weight: bold;
	margin:40px;
	font-size: 2rem;
    text-align: center;
	letter-spacing: 3px;
    color:#3D3D4A;
    text-transform: uppercase;
}
.img1{
    height: 150px;
    width: 50%;
    box-sizing: border-box;
}
.img1 img{
    width: 190%;
    height: 112%;
    object-fit:contain;
}
